@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "helpers";

html, body { width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; background: #FFF; }
body { font-family: "Helvetica", Arial, sans-serif; }

.maps {

    $width: 390px;
    $height: 461px;

      .divider {
        @include position(-5px, false, false, $width - 8);
        width: 16px;
        height: 525px;
        @include icons-sprite(divider);

        z-index: 1000;
      }

  ul {

    @include clearfix();

    li {
      float:left;
      width: $width;
      position:relative;

      .map {
        background: $cGray5;
        @include size($width, $height);
      }

      h1 {
        margin: 0 0 5px 0;
        padding: 20px 0;
        color: $cWhite;
        text-align:center;
        text-transform: uppercase;
        font-size:14px;
        font-weight: bold;
        font-family: "Helvetica Neue", sans-serif;
      }

      &.actual h1 { background: $cActual; }
      &.gdp    h1 { background: $cGDP; }
    }
  }

}

.zoom {

  $zoomWidth: 43px;
  $zoomHeight: 36px; // distance from the top of the canvas until the middle line

  @include position(70px, false, false, 10px);

  $url: "../img/map-zoom.png";

  z-index: 1000;

  .zoom_in,
  .zoom_out { display:block; position:relative; width: $zoomWidth; height: $zoomHeight; cursor: pointer; }

  .zoom_in {
    background: transparent url($url) no-repeat 0 0;
    &:hover  { background: transparent url($url) no-repeat -1*$zoomWidth 0; }
    &:active { background: transparent url($url) no-repeat -2*$zoomWidth 0; }
  }

  .zoom_out {
    background: transparent url($url) no-repeat 0 -1*$zoomHeight;
    &:hover  { background: transparent url($url) no-repeat -1*$zoomWidth -1*$zoomHeight; }
    &:active { background: transparent url($url) no-repeat -2*$zoomWidth -1*$zoomHeight; }
  }
}


