@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "helpers";

html, body { width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; background: #FFF; }
body { font-family: "Helvetica", Arial, sans-serif; }

#wrapper {
  width: 100%;
  height: 100%;

  background:red;
}

.maps {
  width: 100%;
  height:100%;
  background:blue;

  $width: 50%;
  $height: 461px;

  .full-screen {
    @include position(false, 50%, 10px, false);
    margin-right: -120px;

    text-transform: uppercase;
    color: #fff;
    font-size:14px;
    font-weight: bold;
    font-family: "Helvetica", Arial, sans-serif;
    text-decoration:none;
    border-bottom: 1px solid #fff;
    padding-bottom: 1px;

    text-shadow: #000 0px 0px 2px ;

    z-index: 1000;

    &:hover {
      color: #ccc;
      border-color: #ccc;

    }
  }

  .divider {
    @include position(0, false, false, 50%);
    margin-left: -8px;
    width: 16px;
    height: 100%;
    background: url(../img/icons/divider.png) repeat-y;

    z-index: 1000;
  }

  ul {

    height:100%;
    @include clearfix();

    li {
      background:green;
      float:left;
      width: $width;
      position:relative;
      height:100%;

      .map {
        background: $cGray5;
        @include size($width, $height);
        width:100%;
        height:100%;
      }

      h1 {
        margin: 0 0 5px 0;
        padding: 20px 0;
        color: $cWhite;
        text-align:center;
        text-transform: uppercase;
        font-size:14px;
        font-weight: bold;
        font-family: "Helvetica", Arial, sans-serif;
        position:absolute;
        width:100%;
        z-index:100;
        border-bottom: 4px solid #fff;
      }

      &.actual h1 { background: $cActual; }
      &.gdp    h1 { background: $cGDP; }
    }
  }

}

.zoom {

  $zoomWidth: 43px;
  $zoomHeight: 36px; // distance from the top of the canvas until the middle line

  @include position(70px, false, false, 10px);

  $url: "../img/map-zoom.png";

  z-index: 1000;

  .zoom_in,
  .zoom_out { display:block; position:relative; width: $zoomWidth; height: $zoomHeight; cursor: pointer; }

  .zoom_in {
    background: transparent url($url) no-repeat 0 0;
    &:hover  { background: transparent url($url) no-repeat -1*$zoomWidth 0; }
    &:active { background: transparent url($url) no-repeat -2*$zoomWidth 0; }
  }

  .zoom_out {
    background: transparent url($url) no-repeat 0 -1*$zoomHeight;
    &:hover  { background: transparent url($url) no-repeat -1*$zoomWidth -1*$zoomHeight; }
    &:active { background: transparent url($url) no-repeat -2*$zoomWidth -1*$zoomHeight; }
  }
}



/*other stuff*/

.leaflet-popup-content label {width:100%; margin:0; padding:0; font:bold 12px Arial; color:#333333;}
.leaflet-popup-content p {width:100%; margin:2px 0 3px!important; padding:0; font:normal 12px Arial; color:#666666;}

div.cartodb-popup {
  position:absolute; display:block; width:172px; padding:0; -webkit-transform: translateZ(10000px);/*Hack for Safari*/

  &:hover {cursor:default;}
  /*a.close {position:absolute; right:3px; top:2px; width:22px; height:15px; padding:4px 0 3px 0; text-align:center; font:bold 15px "Helvetica",Arial; color:#666666; text-decoration:none; line-height:15px; background:none; text-indent:0; overflow:visible}*/
  /*a.close:hover {color:#333333; cursor:pointer}*/
  div.wrapper {
    width:172px;
    margin:0;
    background:url('../img/icons/infowindow.png') 0 top;

  border:none; box-shadow:none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0}

  .content {
    width:172px - 20*2;
    height:172px - 17*2;
    padding: 17px 20px;
    margin:0;
    overflow-y:auto;
    overflow-x:hidden;

    text-align: center;

    .total {

      padding: 0 0 8px 0;
      margin: 0 0 10px 0;
      border-bottom: 1px solid rgba(0, 0, 0, .09);

      &.map-actual .count { color: $cActual; }
      &.map-gdp .count { color: $cGDP; }

      .count {
        @include inline-block();
        font-size: 43px;
        font-weight:bold;
        font-family: "Helvetica", Arial, sans-serif;
      }

      &.map-actual .icon { @include icons-sprite(medal-actual); }
      &.map-gdp .icon { @include icons-sprite(medal-gdp); }

      .icon {
        @include inline-block();
        margin: 0 3px 0 0;
        @include size(21px, 31px);
      }
    }

    .gdp, .population {
      font-size: 13px;
      font-family: "Helvetica", Arial, sans-serif;
      color: #BFBFBF;
      font-weight:bold;
      text-transform: uppercase;

      .count { @include inline-block(); }
      .icon {
        @include inline-block();
        @include size(16px, 11px);
        @include icons-sprite(coins);
      }
    }

    .population {
      margin: 0 0 5px 0;
      .icon {
        @include icons-sprite(people);
      }
    }

    .gdp .icon {
      @include icons-sprite(coins);
    }

    .country_name {
      text-transform: uppercase;
      color: #CCCCCC;
      font-size: 11px;
      font-family: "Helvetica", Arial, sans-serif;
      font-weight: bold;
      padding: 0 0 8px 0;
      margin: 0 0 6px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.09);

    }

  }

}
